/* 1  */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@500&display=swap');

/* 2 */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* 3  */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');


.Navbar{
font-family: 'Anton', sans-serif;
font-family: 'Oswald', sans-serif;   
}

.HomeText1 { 
    font-family: 'Anton', sans-serif;
}

.TextHome1 { 
    font-family: 'Anton', sans-serif;
}

.NikeWiki {
    font-family: 'Libre Baskerville', serif;
}